header {
  display: flex;
  align-items: center;
  min-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  /* h-offset v-offset blur spread color */
  /* 5px 10px 18px #888888 */
  justify-content: center;
  background-color: #fcfcfc;
}

header > h1 {
  font-family: "Datatype", monospace;
}

header > h1::before {
  content: "👩‍🍳";
}

header > h1::after {
  content: "🍝";
}

.header-img {
  background-image: url('./assets/bear.png');
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-right: 10px;
}

.input-container{
  display: flex;
  margin-top: 20px;
}

.input-container > input {
  padding: 10px;
  margin-right: 0.5rem;
  font-family: "inter";
  font-size: 100%;
  flex: 2;
}

.input-container > button {
  padding: 10px;
  background-color: black;
  color: white;
  font-family: "inter";
  font-size: 100%;
  flex: 1;
}

.input-container > button:hover::before {
  color: black;
}

.input-container > button::before {
  content: "+";
  color: white;
  margin-right: 10px;
}

button:hover {
  background-color: white;
  color: black;
}


.generate {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  border: 2px solid #fcfcfc;
  background-color: #d3cac3;
  margin-top: 120px;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.generate > button {
  display: flex;
  flex: 1px 50px;
  background-color: #fcfcfc;
  color: #2c2c22;
  font-size: 100%;
  font-family: "inter", sans-serif;
  padding: 10px;
  border-radius: 5px;
}

.generate > button:hover {
  color: #2c2c22;
  background-color: #ff5710;
}

.generate > p {
  font-family: "Permanent Marker", cursive;
  color: #ff5710;
  font-size: 120%;
  margin-right: 10px;
}

.generate > p::after {
  content: "😋👉";
}

.prerequisite {
  font-size: 100%;
  color:#1c1c1c80;
}

.prerequisite::selection {
  background-color:#1c1c1c80;
  color: #fcfcfc;
}

.recipe-title {
  color: #1c1c1c90;
  text-align: center;
}

h1 > p::first-line {
  background-color: red;
}

.recipe-title + p::first-line {
  font-size: 110%;
  text-decoration:underline;
}

.ingredients-header {
  font-size: 115%;
  font-weight: 600;
}

.parent-list > li {
  margin-bottom: 5px;
  color: #1c1c1c90 ;
  font-size: 100%;
}