body {
  margin: 0;
  background-color: #F5F2EE;
}


h1 {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

main {
  max-width: 70%;
  margin: 0 auto;
  font-family: "inter", sans-serif;
}
